/* Contenedor principal de la barra de búsqueda */
.barra-busqueda {
    background-color: #7389AE; /* Fondo de la barra */
    border: 1px solid #000022; /* Borde oscuro */
    box-shadow: 0 4px 8px #000022; /* Sombra con el color específico #000022 */
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 10px; /* Espacio entre filas de contenido */
    max-width: 1500px; /* Ancho máximo de la barra de búsqueda */
    margin: 15px auto 0; /* Añade margen superior para separar de elementos anteriores y Centra la barra de búsqueda horizontalmente*/
}

/* Estilos para las columnas */
.barra-busqueda .colunCategoria,
.barra-busqueda .colunNivel-col,
.barra-busqueda .colunPrecio,
.barra-busqueda .colunFecha,
.barra-busqueda .colunIdioma,
.barra-busqueda .colunBusqueda {
    flex: 1;
    max-width: 250px; /* Ancho máximo para las columnas para evitar que se expandan demasiado */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos en cada columna */
    
}

/* Ajusta el tamaño de los grupos de formulario */
.barra-busqueda .form-group {
    width: 100%; /* Ocupa el 100% del ancho del contenedor padre */
    max-width: 200px; /* Ancho máximo para los grupos de formulario */
    margin-bottom: 10px; /* Espacio inferior entre los grupos de formulario */
    display: flex;
    flex-direction: column; /* Apilar los elementos verticalmente */
    align-items: center; /* Centra los elementos dentro del grupo */
   
}

/* Estilo para las etiquetas en los grupos de formulario */
.barra-busqueda .form-label {
    font-size: 0.9em; /* Tamaño de la fuente de las etiquetas */
    margin-bottom: 5px; /* Espacio entre la etiqueta y el control */
}


.barra-busqueda .form-control {
    background-color: #416788; /* Fondo de la barra */
}
/* Estilo para los controles dentro de los grupos de formulario */
.barra-busqueda .form-control, 
.barra-busqueda .dropdown-toggle {
    color: #E0E0E2;
    background-color: #416788; /* Fondo de la barra */
    border: 1px solid #000022; /* Borde oscuro */
    box-shadow: 0 4px 8px #000022; /* Sombra con el color específico #000022 */
    font-size: 0.9em; /* Tamaño de la fuente de los controles */
    padding: 6px; /* Padding reducido para los controles */
    border-radius: 4px; /* Radio del borde ajustado */
    margin-bottom: 5px; /* Espacio entre el control y el siguiente elemento */
}

/* Alinear las etiquetas en la misma altura */
.barra-busqueda .form-label {
    margin-bottom: 0; /* Elimina el margen inferior para alinearlas mejor */
}

/* Contenedor de botones */
.colunBotones {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 20px; /* Ajusta el espacio superior para colocar los botones más abajo */
}

/* Agrupación de botones */
.colunBotones .botones {
    display: flex;
    flex-direction: row; /* Alinea los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
}


/* Estilo para los botones "Aceptar" y "Restablecer" */
.barra-busqueda .btn-aceptar, 
.barra-busqueda .btn-restablecer {
    background-color: #7389AE; /* Color de fondo específico */
    color: #000022; /* Color de texto específico */
    font-weight: 500;
    box-shadow: 0 4px 8px #000022; /* Sombra con el color específico #000022 */
    padding: 8px 16px; /* Ajusta el padding para igualar el tamaño */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Efecto de transición */
    font-size: 0.9em; /* Tamaño de la fuente igual al de los controles */
    line-height: 1.5; /* Altura de línea para alinear verticalmente */
    min-width: 100px; /* Ancho mínimo para los botones */
    text-align: center; /* Centra el texto dentro del botón */
    height: 34px; /* Altura fija para igualar con los controles */
    display: flex; /* Usar flexbox para alinear verticalmente el texto */
    align-items: center; /* Centra verticalmente el texto dentro del botón */
    box-sizing: border-box; /* Incluye padding y border en el ancho/alto del elemento */
    border: 1px solid #E0E0E2; /* Borde oscuro */
}

/* Efecto hover para los botones "Aceptar" y "Restablecer" */
.barra-busqueda .btn-aceptar:hover, 
.barra-busqueda .btn-restablecer:hover {
    background-color: #000022; /* Cambio de color al pasar el mouse */
    color: #E0E0E2; /* Mantener el color del texto */
    border: 1px solid #E0E0E2; /* Borde oscuro */
}

/* Efecto hover para otros botones primarios y secundarios */ 
.button#dropdown:hover {
    background-color: #416788; /* Cambio de color al pasar el mouse */
    color: #E0E0E2; /* Mantener el color del texto */
}

.estrellas {
    display: flex;
    gap: 5px; /* Puedes ajustar este valor para espaciar las estrellas como desees */
}

/* Estilo de las estrellas en la valoración */
.estrellas .estrella {
    font-size: 20px;
    color: #E0E0E2; /* Color de la estrella vacía */
    cursor: pointer;
    display: inline-block;
}

.estrellas .rellena {
    color: #e9f322; /* Color de la estrella rellena */
}

/* Estilos para los errores del formulario */
.form-group {
    display: flex;
    flex-direction: column;
}

.error {
    color: #E0E0E2;
    font-size: 0.9em;
    margin-top: 0px; /* Ajusta el margen superior para dar espacio sin mover otros campos */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    width: 100%; /* Asegura que el <span> ocupe todo el ancho disponible */
    text-align: center; /* Centra el texto dentro del <span> */
}


/* Estilos para la barra de búsqueda */
.buscadorContenedor {
    position: relative;
    color: #E0E0E2;
}


.buscadorContenedor .form-control::placeholder {
    color: #E0E0E2; /* Color del texto del placeholder */
    opacity: 1; /* La opacidad puede ser ajustada; por defecto es menor a 1 */
}

.iconoBuscador {
    position: absolute;
    top: 40%;
    right: 8px;
    transform: translateY(-50%);
    color: #E0E0E2;

}
.contenedorPrecio {
    top: -1px;
    display: flex; /* Utilizamos flexbox para alinear los elementos en línea */
    align-items: center; /* Alinea verticalmente los elementos (el rango y la etiqueta) al centro */
    justify-content: space-between; /* Distribuye el espacio entre los elementos para evitar que se solapen */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho posible */
    margin-bottom: 10px; /* Añade un pequeño margen inferior para igualar el espaciado con otros elementos */
    position: relative; /* Añadido para asegurar el posicionamiento relativo del contenedor */
}


.rango-precio-label {
    position: absolute; /* Mantiene la posición absoluta */
    top: 26px; /* Sube la etiqueta un poco más para alinearla mejor con las demás etiquetas */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta el centrado exacto */
    background-color: transparent; /* Fondo transparente */
    color: #E0E0E2; /* Color de texto */
    pointer-events: none; /* Desactiva la interacción del ratón */
    font-size: 0.7em; /* Aumenta el tamaño de la fuente para mayor visibilidad */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    width: 100%; /* Asegura que el <span> ocupe todo el ancho disponible */
    text-align: center; /* Centra el texto dentro del <span> */
}

.filtro-precio-select {
    width: 100%;
    appearance: none;
    background: #416788;
    border-radius: 5px;
    height: 8px; /* Aumenta la altura del control de rango para hacerlo más visible */
    position: relative;
}
