.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #000022;
}

/* Contenedor navbar */
.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0; 
    margin: 0;  
}

.logo {
    height: 100px;
    width: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}
.text-overlay{
    position: absolute; /* Posición absoluta respecto al contenedor */
    top: 50%; /* Posiciona en el centro vertical */
    left: 50%; /* Posiciona en el centro horizontal */
    color: #E0E0E2;
    font-size: 40px; /* Tamaño del texto */
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
}

/* Perfil del profesor */
.foto-perfil-toggle { 
    border: none; 
    background: transparent; 
    cursor: pointer; }
    
    /* Estilo para la imagen del perfil */
.foto-perfilProfe {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: antiquewhite;
}
.dropdown-menu { 
    right: 0; 
    left: auto; 
}

.btn-secondary {
    background-color: #416788;
    border-color: #416788;
    color: #E0E0E2;
    padding: 10px 10px; /* Espaciado interno reducido */
    font-size: 14px; /* Tamaño de fuente reducido */
    border-radius: 6px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
}

.btn-secondary:hover {
    background-color: #B5BAD0;
    border-color: #B5BAD0;
    color: #E0E0E2;
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.navbar-buttons {
    display: flex;
    gap: 0.5rem; /* Espacio reducido entre botones */
    align-items: center; /* Alineación vertical de los botones */
}
